<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HealthTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20FA978E1EF10DF10085BBBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FA97A71EF10DF10085BBBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FA97B21EF10DF10085BBBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
